<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Currículo</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="curriculum-edit-container">
        <h2>Editar Currículo</h2>

        <form th:action="@{/editar-curriculo/{freelancerId}(freelancerId=${curriculum.freelancerId})}" th:object="${curriculum}" method="post">
            <label for="qualificacoes">Qualificações</label>
            <textarea id="qualificacoes" th:field="*{qualificacoes}"></textarea>

            <label for="experiencias">Experiências</label>
            <textarea id="experiencias" th:field="*{experiencias}"></textarea>

            <label for="habilidades">Habilidades</label>
            <textarea id="habilidades" th:field="*{habilidades}"></textarea>

            <button type="submit" class="btn">Salvar Alterações</button>
        </form>
    </div>
</body>
</html>
